<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Condaidate List</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6fanmJbPaQHfiJsN0xxaQ_S2ZwmD6-KZpeQ&s" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link rel="stylesheet" href="./canda.css"> -->
         <!-- Bootstrap css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
         
                                                  


<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="/candidate/home"><span class="fw-bolder text-primary">Voting App</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                      <li class="nav-item"><a class="nav-link mt-2" href="/candidate/home">Home</a></li>
                      
                      <li class="nav-item"><a class="nav-link mt-2" href="/candidate/candaidatelist">Condaidate</a></li>
                      <li class="nav-item"><a class="nav-link mt-2" href="/candidate/aboutme">About Me</a></li>
                      
                        <li class="nav-item"><a class="nav-link" href="/user/signupform"><button class="btn btn-primary mt-0  fw-bolder">SignUp</button></a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="/candidate/loginform"><button class="btn btn-primary mt-0  fw-bolder">LogIn</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Condaidate Section-->
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Condaidate list</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Imran Khan</h2>
                                        <p>Imran Ahmed Khan Niazi is the founder and former chairman of the political party Pakistan Tehreek-e-Insaf (PTI) from 1996 to 2023. He was the captain of the Pakistan national cricket team in 1990s.</p>
                                    </div>
                                    <img class="img-fluid" src="https://assets.weforum.org/author/image/7tqa2E7b82U6En6zwa3wq2i5GLNb6-zk3UMMQSHjZLI.jpg" width="300px" height="380px"  alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 2-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Shahbaz_Sharif_in_2022_%28cropped%29.jpg" width="300px" height="380px" alt="..." />
                                    <div class="p-5">
                                        <h2 class="fw-bolder">shehbaz shareef</h2>
                                        <p>Mian Muhammad Shehbaz Sharif (born 23 September 1951) is a Pakistani politician and businessman who is currently serving as the 24th prime minister of Pakistan since March 2024</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                         <!-- Project Card 3-->
                         <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Bilawal Bhutto</h2>
                                        <p>Bilawal Bhutto Zardari  (born 21 September 1988) is a Pakistani politician who served as the 37th Minister of Foreign Affairs, in office from 27 April 2022 to 10 August 2023.</p>
                                    </div>
                                    <img class="img-fluid" src="https://na.gov.pk/uploads/images/200(1).jpg" width="300px" height="400px" alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 4-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="https://pakobserver.net/wp-content/uploads/2022/03/02-2.jpg" width="300px" height="400px" alt="..." />
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Aimal Wali Khan</h2>
                                        <p>imal Wali Khan (born 18 November 1986) is a Pakistani politician and the Central President of the Awami National Party (ANP) Pakistan. He is the son of the Former President of ANP, Asfandyar Wali Khan</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                         <!-- Project Card 5-->
                         <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">fazl ur rahman</h2>
                                        <p>Fazal-ur-Rehman  (born 19 June 1953) is a Pakistani politician who is the president of Jamiat Ulema-e-Islam (F). He is also the president of the Pakistan Democratic Movement (PDM)</p>
                                    </div>
                                    <img class="img-fluid" src="https://na.gov.pk/uploads/images/25.jpg" width="300px" height="400px" alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 6-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="https://hamariweb.com/profiles/images/profile/9658-002-7390.jpg" width="300px" height="400px" alt="..." />
                                    <div class="p-5">
                                        <h2 class="fw-bolder">hafiz naeem ur rehman</h2>
                                        <p>Hafiz Naeem ur Rehman ( born 1973) is a Pakistani social activist, engineer, politician and Central Ameer of Jamaat-e-Islami Pakistan for the session 2024-2029.</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 7-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Shujaat Hussai</h2>
                                        <p>Chaudhry Shujaat Hussain (born 27 January 1946) is a senior Pakistani politician who previously served as 16th prime minister of Pakistan.he is the party president of the Pakistan Muslim League (Q)</p>
                                    </div>
                                    <img class="img-fluid" src="https://hamariweb.com/profiles/images/profile/7266-685-7439.jpg" width="300px" height="400px" alt="..." />
                                </div>
                            </div>
                        </div>
                        
                        <!-- Project Card 8-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-3">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="https://na.gov.pk/uploads/images/255(1).jpg" width="300px" height="400px" alt="..." />
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Dr. Khalid Maqbool</h2>
                                        <p>Dr. Khalid Maqbool Siddiqui is a Pakistani politician who is 1st Chairman of the MQM since 2024, He has been a member of the National Assembly of Pakistan since February 2024</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">The Future of Voting is Here</h2>
                    <!-- redirect to voting page -->
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/candidate/loginform">Apply to Vote</a>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 ">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; voting - 2023</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- bootstrip js -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>